
body{
	color:black;
    background-color:;
}
.pure-g,div ,article
        {
            border:1px solid blue;
            -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
        }

        p, h1, h2{
            
            padding-left:1em;
            padding-right:1em;

        }

        img{
    max-width:100%;
    height:auto;
    display: inline-block;
}

.pure-table{
    width:100%;
}

.h1_tonleikar_2015{
    text-align:center;
   
}

.dagskra_pos{
    margin-left:2em;
    
}

.panta_pos{
    margin-left:7em;
    
}

.margin_panta_dagskra{
    margin-left:1em;}
    

.image_pos_harpa{
    margin-left:1em;

}


