
body{
	color:rgb(46,207,25);
 
}


.pure-g,div ,article
        {
            border:1px solid blue;
               background-color:rgb(24,36,46);
margin:auto;
            -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
        }

        p, h1, h2{
            
            padding-left:1em;
            padding-right:1em;

        }

        img{
    max-width:100%;
    height:auto;
    display: inline-block;
}

.pure-table{
    width:100%;
    max-width:100%;


}

.text_center{
    text-align:center;
   
}

.dagskra_pos{
    margin-left:2em;
    
}

.panta_pos{
    
    
}

.margin_panta_dagskra{
    margin-left:1em;
border-radius:5px;
}
    

.image_pos_harpa{
    margin-left:1em;
}

.pure-form{
margin-left:2em;
}

@keyframes example {
    0%   {background-color:rgb(178,222,67); left:0px; top:-500px;}
    25%  {background-color:rgb(178,222,67); left:0px; top:0px;}
    50%  { top:0px;}
    75%  {background-color:yellow; left:0px; top:0px;}
    100% {background-color:yellow; left:0px; top:0px;}
}

.dropdown{
    border-radius:5px;
   background-color:yellow;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    color:red;
}

.dropdown:hover{
    opacity:0.5;
}


@media screen and (max-width: 35.5em){
     
     div{
        font-size:1em;
        line-height:2em;
     }

}


